#forgot-div{
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    margin-bottom: 2rem;
  }

  ion-item{
    width: 100%;
    margin-bottom: 1rem;
  }

  ion-button{
    width: 100%;
  }
}
